
# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
ENV/
.myenv/
.venv/

# Editor-specific
.vscode/
.idea/
*.swp

# OS-specific
.DS_Store
Thumbs.db

# Flask instance folder
instance/

# Env config
.env
*.env

# Logs
*.log
